html {
  box-sizing: border-box;
  font-size: 100%;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  background: linear-gradient(to bottom right, hsl(149deg, 82%, 27%), hsla(149deg, 89%, 53%, 0.8), hsl(145deg, 100%, 56%), hsla(180deg, 100%, 56%, 0.8), hsla(180deg, 96%, 82%, 0.8));
  background-repeat: no-repeat;
  background-size: contain;
  color: var(--black-color);
  margin: 0;
  padding: 0;
  min-height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

h1, h2, h3 {
  letter-spacing: 0.5px;
  line-height: 1.1;
  margin-top: 0;
  font-family: "Red Hat Display", sans-serif;
  font-size: 1.625rem;
  font-weight: 600;
  color: var(--green-darker-color);
}
@media (max-width: 43.74875em) {
  h1, h2, h3 {
    font-size: 1.5rem;
    font-weight: 500;
  }
}

p {
  margin-top: 0;
  font-family: "Red Hat Display", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  color: var(--green-dark-color);
}
@media (max-width: 43.74875em) {
  p {
    font-size: 0.75rem;
    letter-spacing: 0.0625rem;
  }
}

a, a:visited, a:active {
  text-decoration: none;
}

:root {
  --black-color: hsl(0, 4%, 10%);
  --black-light-color: hsl(0, 5%, 8%, 0.6);
  --white-color: hsl(280, 60%, 99%);
  --green-main-color: hsl(145, 100%, 56%);
  --green-dark-color: hsl(145, 78%, 26%);
  --green-darker-color: hsl(149, 82%, 11%);
  --green-light-color: hsl(149, 89%, 53%, 0.8);
  --green-lighter-color: hsla(153, 97%, 75%, 0.8);
  --teal-main-color: hsl(184, 100%, 56%);
  --teal-dark-color: hsl(192, 100%, 56%);
  --teal-darker-color: hsla(190, 70%, 35%, 0.8);
  --teal-light-color: hsl(180, 100%, 56%, 0.8);
  --teal-lighter-color: hsla(180, 96%, 82%, 0.8);
}

.main_container {
  margin-inline: auto;
  width: 350px;
  height: 545px;
  background-color: var(--green-lighter-color);
  border: none;
  border-radius: 10px;
  box-shadow: 0.0625rem 0.15625rem hsla(0deg, 0%, 0%, 0.4);
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 250ms ease-in;
  overflow: hidden;
}
@media (max-width: 43.74875em) {
  .main_container {
    width: 315px;
    height: 535px;
  }
}

.footer_container {
  position: absolute;
  bottom: 0.75rem;
}

.attribution {
  font-size: 0.8125rem;
  text-align: center;
  color: var(--white-color);
}

.attribution a {
  color: var(--green-dark-color);
}

.img_container {
  width: 100%;
  height: 100%;
  flex-basis: 0;
}
.img_container img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: all 250ms ease;
  cursor: pointer;
}
.img_container img:hover {
  transform: scale(1.05);
}

.title_container {
  display: flex;
  flex-direction: column;
  text-align: center;
  flex-basis: 0;
  padding: 0.625rem;
}
.title_container p {
  color: var(--green-dark-color);
}

.price_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  background-color: hsla(0deg, 0%, 54%, 0.3);
  width: 90%;
  min-height: 15%;
  border-radius: 10px;
}
.price_container a {
  text-align: center;
  text-decoration: underline;
  color: var(--teal-darker-color);
}
@media (max-width: 43.74875em) {
  .price_container a {
    font-size: 0.875rem;
  }
}

.svg_container {
  width: 3.125rem;
  height: 3.125rem;
  margin-inline: auto;
  background-color: hsla(0deg, 1%, 45%, 0.3);
  border: none;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 43.74875em) {
  .svg_container {
    width: 2.5rem;
    height: 2.5rem;
  }
}

.controller_svg {
  width: 1.875rem;
  height: 1.875rem;
  opacity: 0.8;
}
@media (max-width: 43.74875em) {
  .controller_svg {
    width: 1.25rem;
    height: 1.25rem;
  }
}

.plan_container {
  display: flex;
  flex-direction: column;
  gap: 0.3125rem;
  flex-basis: 0;
  text-align: center;
  align-items: center;
}
.plan_container p {
  margin: auto;
  color: var(--green-darker-color);
}

.btn_container {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
  align-items: center;
  margin: auto;
}
.btn_container button {
  min-height: 2.5rem;
  margin-inline: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid transparent;
  border-radius: 5px;
  box-shadow: 0.03125rem 0.0625rem hsla(0deg, 1%, 34%, 0.5);
  transition: all 450ms ease;
  cursor: pointer;
}
.btn_container button:hover {
  transform: scale(1.05);
  box-shadow: 0.0625rem 0.09375rem hsla(0deg, 1%, 34%, 0.5);
}

.btn_confirm {
  background-color: var(--green-main-color);
  color: var(--white-color);
  font-size: 1rem;
  width: 15.625rem;
}
@media (max-width: 43.74875em) {
  .btn_confirm {
    font-size: 0.875rem;
  }
}

.btn_cancel {
  background-color: var(--white-color);
  color: var(--black-light-color);
  font-size: 0.875rem;
  font-weight: 600;
  width: 13.4375rem;
}
@media (max-width: 43.74875em) {
  .btn_cancel {
    font-size: 0.75rem;
    font-weight: 500;
  }
}/*# sourceMappingURL=style.css.map */