:root {
    --black-color: hsl(0, 4%, 10%);
    --black-light-color: hsl(0, 5%, 8%, 0.6);
    --white-color: hsl(280, 60%, 99%);
    --green-main-color: hsl(145, 100%, 56%);
    --green-dark-color: hsl(145, 78%, 26%);
    --green-darker-color: hsl(149, 82%, 11%);
    --green-light-color: hsl(149, 89%, 53%, 0.8);
    --green-lighter-color: hsla(153, 97%, 75%, 0.8);
    --teal-main-color: hsl(184, 100%, 56%);
    --teal-dark-color: hsl(192, 100%, 56%);
    --teal-darker-color: hsla(190, 70%, 35%, 0.8);
    --teal-light-color: hsl(180, 100%, 56%, 0.8);
    --teal-lighter-color: hsla(180, 96%, 82%, 0.8);
}