@use '../util' as u;

h1, h2, h3 {
    letter-spacing: 0.5px;
    line-height: 1.1;
    margin-top: 0;
    font-family: u.$font2;
    font-size: u.rem(26);
    font-weight: 600;
    color: var(--green-darker-color);

    @include u.breakpoint-down(large){
        font-size: u.rem(24);
        font-weight: 500;
    }
}

p {
    margin-top: 0;
    font-family: u.$font2;
    font-size: u.rem(16);
    font-weight: 500;
    color: var(--green-dark-color);

    @include u.breakpoint-down(large){
        font-size: u.rem(12);
        letter-spacing: u.rem(1);
    }
}

a, a:visited, a:active {
    text-decoration: none;
}